<div class = "row">
<div class = "col s6">
<h4>Resend confirmation instructions</h4>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <button class="waves-effect #00695c teal darken-3 btn-small"><%= f.submit "Resend confirmation instructions" %></button>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>