<div class = "serllerspage ">
  <div>
    <%= image_tag("default.png", :class => "intro") %>
  </div>
</div>
<div class="services row  top-marging">
  <% @sellers.each do |seller| %>
    <div class="row">
      <%# <div class="col s4"> %>
      <div class="card small card-panel hoverable" >
        <div class="card-image">
          <%=  seller.img %>
        </div>
        <%# <div class="card-content"> %>
        Name: <%= seller.name %>
        <br>
        Description: <%= seller.description %>
        <%# </div> %>
        <div>               <%= link_to 'More details', seller_path(seller) %>
        </div>
      </div>
      <%# </div> %>
    <% end %>
  </div>
</div>
