
<%if seller_signed_in?%>
<%= render partial: 'seller_show' %>

<% else    %>
<h1><%= @seller.id %></h1>
<h1><%=@seller.name%></h1>
<h1><%=@seller.username%></h1>
<h1><%=@seller.email%></h1>
<h1><%=@seller.phone%></h1>
<h1><%=@seller.img%></h1>
<h1><%=@seller.description%></h1>
<h1><%=@seller.delivery_cost%></h1>

<%end%>


     <div>
    <h5>All Products by the user:</h5>
<% @seller.products.in_groups_of(3, false).each do |group| %>
     

    
 <% group.each do |product| %>

      
       <h5><%= product.name %></h5> 
          <p> <%= product.description %></p>
          <a href=<%= items_path(:product.id => product.id) %>>Add to cart</a>
  
      <% end %>
     <% end %>
</div>

