<div class = "serllerspage ">
<div class= "card-content">


<%if seller_signed_in?%>
  <%= render partial: 'seller_show' %>
  <% @seller.products.each do |p| %>
    <%= p.name %>
    <%= link_to 'Delete', product_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_product_path(p)%>
  <%end %>
<% else    %>
  <h3><%= @seller.id %></h3>
<div class="divider"></div>



    <h5>All Products by the seller:</h5>
    <div class="row">
<% @seller.products.each do |product| %>
<div class="col s8">
<div>
      <%= product.name %>
      <br>
      <%= product.price %>
      <%#= console %>
      <%= button_to "Add #{product.name} to cart", items_path(:product_id => product.id) %>
        <%#= link_to "Add one", item_add_path(:item_id => item.id), method: :post %>
        <%#= link_to "Reduce one", item_reduce_path(:id => item), method: :post %>
        </div>
          <br>

    <% end %>
  <% end %>
</div>
<<<<<<< HEAD
</div>
</div>
=======

<!-- orders history-->
<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @seller, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      quality: <%= rating_for @seller, "quality", stars: 10 %>
      <br>
      delviry cost: <%= rating_for @seller, "delviry_cost" %>
      <br>
      
      <br>
      price for quality: <%= rating_for @seller, "price_for_quality" %>
    <% end %>
  </div>
>>>>>>> 28e0467976f39c1831a270d90cb3ab07e84608b3
</div>