<%if seller_signed_in?%>
  <%= render partial: 'seller_show' %>
<% else %>






  <h5>All Products by <%= @seller.name %>:</h5>
  <%= imdb_style_rating_for @seller, imdb_avg: true%>
<<<<<<< HEAD
   Rate: <%= rating_for @seller, "quality",disable_after_rate: true, space: true,enable_half: true %>

=======
  Rate: <%= rating_for @seller, "quality",disable_after_rate: true, imdb_avg: true, space: true,enable_half: true %>
>>>>>>> 5a85bf6f5177a9f89509abd33b05008a5277cf98
  <% @seller.products.each do |product| %>
    <div class="row">
      <div class="col s4">
        <div class="card medium card-panel hoverable" >
          <div class="card-image">
            <%=  cl_image_tag product.image.url , :size => "200x200"%>
          </div>
          <div class="content">
            <%= product.name %>
            <p> Price: <%= product.price %></p>
            <%#= product.items.quantity %>
            <% if @current_cart.seller_id == product.seller.id || @current_cart.seller_id.nil?%>
              <div>
                <button class="waves-effect #00695c teal darken-3 btn-small"> <%= button_to "Add #{product.name} to cart", items_path(:product_id => product.id) %></button></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
