<%if seller_signed_in?%>
  <%= render partial: 'seller_show' %>
  <% @seller.products.each do |p| %>
    <%= p.name %>
    <%= link_to 'Delete', product_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_product_path(p)%>
  <%end %>
<% else %>
  <h5>All Products by the <%= @seller.username %>:</h5>
  <% @seller.products.each do |product| %>
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <%=  cl_image_tag product.image.url %>
          </div>
          <%# <div class="card-content"> %>
          <%= product.name %>
          <p> Price: <%= product.price %></p>
          <%#= product.items.quantity %>
          <%# </div> %>
          <div>
            <%= button_to "Add #{product.name} to cart", items_path(:product_id => product.id) %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
<!-- orders history-->
<%#= imdb_style_rating_for @seller, current_user%>
<%# if current_user %>
<%# quality: <%= rating_for @seller, "quality", stars: 10 %>
<%# <br> %>
<%# delviry cost: <%= rating_for @seller, "delviry_cost" %>
<%# <br> %>
<%# <br> %>
<%# price for quality: <%= rating_for @seller, "price_for_quality" %>
<%# <% end %>
