
<%= render "sellers/shared/links" %>
<div class = "row">
<div class = "col s6">

<h4 class="left">Sign up as a Seller</h4>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<br><br><br>

<h5> Log In Information </h5>
<br>
      <div class="field">
        <%= f.label :username, "Enter Your Username" %>   <br>
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>
      <div class="field">
        <%= f.label :email, "Enter your email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div>
      <br><br>
            <h5>Store information</h5>  
            <br>
      <div class="field">
            <%= f.label :name,  "Your store name"%>  <br>
            <%= f.text_field :name %>
      </div> 
      <div class="field">
            <%= f.label :phone, "Phone number"%>  <br>
            <%= f.telephone_field :phone %>
      </div> 
      <div class="field">
            <%= f.label :description %>  <br>
            <%= f.telephone_field :description %>
      </div> 

      <div class="field">
            <%= f.label :delivery_cost, "Delivery cost " %> <br>
            <%= f.number_field :delivery_cost %>
      </div>  
      </div>      
      <div class="field">
            <%= f.label :img,  "Upload your logo"%>  <br>
            <br>         
            <%= f.file_field :img %>
      </div>  
      <br>
    <div class="actions">
      <button class="waves-effect #00695c teal darken-3 btn-small"><%= f.submit "Sign up" %></button>
    </div>
  <% end %>
  <p> OR </p>

</div>
</div>
</div>
</div>

</div>

</div>
