<table>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <% @cart.items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= number_to_currency(item.product.price) %></td>
      <td><%= item.quantity %></td>
    </tr>
  <% end %>
</table>
<h2>Total:  <%= number_to_currency(@cart.sub_total) %></h2>
<h3>Your address</h3>
<div id="map" style="width: 400px; height: 400px"></div>
<%#= irb %>
<script>
  function getAddress() {
  if (navigator.geolocation) {
   navigator.geolocation.getCurrentPosition(function(position) {
   let lat = position.coords.latitude;
 
  let long = position.coords.longitude;

  $("#buy").on('click', function(){
  //  debugger;
  $.ajax({
        url : "/orders",
        type : "post",
        <%# data : { data_lat: 'Paris'}, %>
        data : { data_lat: lat , data_long: long},
          success: function(post){ alert(this) },
          error: function(post){ console.log(this) }
    });
  })
  
      let myLatlng = new google.maps.LatLng(lat, long);
      let map = new google.maps.Map(document.getElementById("map"), {
        center: myLatlng,
        zoom: 8
      });
      // Add marker
      let marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "your location"
      });
  
   });
  } else {
  console.log("geolocation is not supported ");
   }
  
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google_maps_api_key) %>&callback=getAddress"
    async defer></script>
<%#= button_to "buy" ,  orders_path(@order) ,method: :post  %>
<%= button_to "buy" ,  orders_path(@order) , { action: "post", id: "buy" }  %>
