<h1>Order detail</h1>
<table class= "responsive-table  highlight">
  <thead>
    <tr>
      <th>Item Number</th>
      <th>Product name</th>
      <th>Item quantity</th>
      <th>Customer username</th>
      <th>Customer phone number</th>
      <th>Customer location</th>
    </tr>
  </thead>
  <tbody>
    <% @order.items.each do |item|%>
      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= item.product.name %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= @order.user.username %>
        </td>
        <td>
          <%= @order.user.phone %>
        </td>
        <td>
          <%= @order.user.address %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
