<nav class= "#e0e0e0 grey lighten-2">
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to image_tag('logo12.png', size: '180x68') ,root_path %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <div>
          <li>
            <%= link_to(image_tag("cart.png", :size => "20x20"), @current_cart) %>
          </li>
          <% if @current_cart.items.count > 0 %>
            <li>
              <%=  @current_cart.items.count %>
            </li>
          <% else %>
            <li>
              <%= 0 %>
            </li>
          <% end %>
          <%#= image_submit_tag("cart.png") %>
          <ul id="nav-mobile" class="right">
            <% unless user_signed_in? %>
              <% if seller_signed_in? %>
                <li><a><%= link_to "View Profile ", seller_path(current_seller) %></a></li>
                <li><a><%= link_to 'Log Out', destroy_seller_session_path, method: :delete %> </a></li>
              <% else %>
                <li><a><%= link_to "Become a Seller", new_seller_registration_path %></a></li>
              <% end %>
            <% end %>
            <% unless seller_signed_in? %>
              <%if user_signed_in? %>
                <li><a><%= link_to "View Profile user ", user_path(current_user) %></a></li>
                <li><a><%= link_to 'Log Out user', destroy_user_session_path, method: :delete %></a></li>
              <% else %>
                <li><a><%= link_to "Log in user", new_user_session_path %></a></li>
                <li><a><%= link_to "Sign Up user", new_user_registration_path %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
