<h2>Cart show</h2>
<%#= console %>
<% @cart.items.each do |item| %>
  Item: <%= item.product.name %>
  Price: <%= number_to_currency(item.product.price) %>
  Quantity: <%= item.quantity %>
  seller_id: <%= item.product.seller_id%>
  <%= link_to "Add", item_add_path(:id => item), method: :post %>
  <%= link_to "Reduce ", item_reduce_path(:id => item), method: :post %>
  <%= link_to "Remove", item_path(item), method: :delete %>
<% end %>
<h3>total: <%= number_to_currency(@cart.sub_total) %></h3>
<%= link_to "Proceed to checkout", new_order_path %><br>
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>
